<div class="accordion-item">
  <div [ngClass]="showBody ? 'accordion-item-header-active' : 'accordion-item-header'">
    <div class="accordion-item-key">
      <div *ngIf="id else noIdData">
        Q{{ id }}
      </div>
      <ng-template #noIdData>
        <div class="accordion-item-no-data">
          <strong class="accordion-item-no-data-text">No ID Data Available</strong>
        </div> 
      </ng-template>
    </div>
    <div class="accordion-item-title">
      <div *ngIf="question else noTitleData">
        {{ question }}
      </div>
      <ng-template #noTitleData>
        <div class="accordion-item-no-data">
          <strong class="accordion-item-no-data-text">No Title Data Available</strong>
        </div> 
      </ng-template>
    </div>
    <span class="accordion-item-toggle" (click)="toggleContentDisplay(this)">
      <svg [@toggleContentDisplay]="!showBody ? 'initial' : 'final'" class="svg-rotate__icon" width="15px" height="15px" viewBox="0 0 357 357">
        <g id="add">
          <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/>
        </g>
      </svg>
    </span>
  </div>
  <div [@smoothCollapse]="!showBody ? 'initial' : 'final'" class="accordion-item-body">
    <div *ngIf="answer else noBodyData">
      <p class="accordion-item-body-text">
        {{ answer }}
      </p>
    </div>
    <ng-template #noBodyData>
      <div class="accordion-item-no-data">
        <strong class="accordion-item-no-data-text">No Body Data Available</strong>
      </div> 
    </ng-template>
  </div>
</div>

